a {
  color: #FFF;
}
a:hover {
   color: #FFF;
}

a:link {
  text-decoration: none;
}

body {
  background-color: rgb(10,10,10);
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.logo {
  width: 25%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
}




