a {
  color: #FFF;
}
a:hover {
   color: #FFF;
}

a:link {
  text-decoration: none;
}

body {
  background-color: rgb(10,10,10);
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.logo {
  position: fixed;
  width: 25%;
  top: 2vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.gov-warning {
  position: fixed;
  width: 100%;
  opacity: 0.3;
  text-align: center;
}




