a {
  color: #FFF;
}
a:hover {
   color: #FFF;
}

a:link {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(5,5,5);
}

.page {
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 0.5s ease-in-out;
}

.page-enter {
  transform: translate(-100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  transform: translate(-100%, 0);
}

.page--prev.page-enter {
  transform: translate(100%, 0);
}

.page--prev.page-enter-active {
  transform: translate(0, 0);
}

.page--prev.page-exit {
  transform: translate(100%, 0);
}